<div class="main-container">
    <a class="title-container" [routerLink]="['/home']">
        <div style="margin: 0; padding: 0; text-align: right;">
            <h3 class="title">Hall of</h3>
            <h3 class="title">Heroes</h3>
        </div>
        <img src="../assets/pathenon.png" style="height: 90%; width: auto; object-fit: contain; margin: 0; flex-basis: 0; display: flexbox"/>
    </a>
    <div class="center" [style.background-color]="color.darkState ? '#000000' : '#7d9eae'">
        <app-top-bar></app-top-bar>
        <div class="container" style="margin:0; padding-top:0;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>